/* 
 * Base Styles
 * overrides for browser styles
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
    height: 100%;
    background: $black;
    font-family: 'Orbitron', sans-serif;
}
select, button {
  font-family: 'Orbitron', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 4px;
    text-transform: uppercase;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}