/*
 * Colors
 * application color defaults
 */
/* 
 * Base Styles
 * overrides for browser styles
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  background: black;
  font-family: 'Orbitron', sans-serif; }

select, button {
  font-family: 'Orbitron', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 4px;
  text-transform: uppercase; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 12px; }

/*
 * App Styles
 * application component styles
 */
.synth {
  background-color: #888888;
  width: 90%;
  margin: 50px auto;
  position: relative; }
  .synth__controlContainer {
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: RGB(196, 199, 206); }
  .synth__control {
    display: flex;
    flex-direction: column;
    border: blue 1px solid;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden; }
    .synth__control input[type="radio"] {
      visibility: hidden;
      height: 0;
      width: 0; }
      .synth__control input[type="radio"]:checked + label {
        background: red;
        color: white; }
    .synth__control input[type="radio"] + label {
      border-radius: 5px;
      padding: 2px 5px; }
    .synth__control__label {
      min-width: 45px;
      display: inline-block; }
    .synth__control__heading {
      background: blue;
      color: RGB(196, 199, 206);
      padding: 5px 10px 5px 10px;
      margin: -10px 0 5px -10px;
      border-bottom-right-radius: 10px; }
    .synth__control .synth__control {
      margin-top: 10px; }
  .synth__sequencerContainer {
    padding: 20px 10px; }
  .synth__sequencer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: yellow;
    background-color: black;
    padding: 0; }
    .synth__sequencer__form {
      flex-flow: row nowrap;
      justify-content: center;
      display: flex; }
      .synth__sequencer__form select {
        font-size: 16px; }
    .synth__sequencer__note {
      color: #4eff0a;
      font-family: 'Orbitron', sans-serif;
      border-right: 1px solid yellow;
      padding: 12px;
      width: 12.5%; }
      .synth__sequencer__note:nth-child(n+1):nth-child(-n+8) {
        border-bottom: 1px solid yellow; }
      .synth__sequencer__note:nth-child(8), .synth__sequencer__note:last-child {
        border-right: none; }
      .synth__sequencer__note span {
        text-align: center;
        display: block;
        padding: 8px 0 6px 0;
        text-shadow: 1px 1px 9px #4eff0a; }
