@import "variables.scss";
@import "base.scss";

/*
 * App Styles
 * application component styles
 */
 
.synth{
    background-color: $grey-medium;
    width: 90%;
    margin: 50px auto;
    position: relative;
    
    &__controlContainer{
        padding: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        background: $grey-light;
    }
    
    &__control {
        display: flex;
        flex-direction: column;
        border: $blue 1px solid;
        border-radius: 10px;
        padding: 10px;
        overflow: hidden;

        input[type="radio"] {
            visibility: hidden;
            height: 0;
            width: 0;
            
            &:checked + label{
              background: $red;
              color: $white;
            }
        }
        
        input[type="radio"] + label {
          border-radius: 5px;
          padding: 2px 5px;
        }
    
        &__label {
            min-width: 45px;
            display: inline-block;
        }
        
        &__heading {
            background: $blue;
            color: $grey-light;
            padding: 5px 10px 5px 10px;
            margin: -10px 0 5px -10px;
            border-bottom-right-radius: 10px;
        }
        
        .synth__control {
          margin-top: 10px;
        }
    }
    
    &__sequencerContainer {
        padding: 20px 10px;
    }

    &__sequencer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-color: $yellow;
        background-color: $black;
        padding: 0;

        &__form{
            flex-flow: row nowrap;
            justify-content: center;
            display: flex;
            
            select {
                font-size: 16px;
            }
        }
        
        &__note{
            color: $green;
            font-family: 'Orbitron', sans-serif;
            border-right: 1px solid $yellow;
            padding: 12px;
            width: 12.5%;
            
            &:nth-child(n+1):nth-child(-n+8) {
              border-bottom: 1px solid $yellow;
            }
            
            &:nth-child(8),
            &:last-child {
              border-right: none;
            }

            span{
                text-align: center;
                display: block;
                padding: 8px 0 6px 0;
                text-shadow: 1px 1px 9px $green;
            }
        }
    }
}
