/*
 * Colors
 * application color defaults
 */
$blue: blue;
$red: red;
$green: #4eff0a;
$yellow: yellow;
$white: white;
$black: black;
$grey-light: RGB(196, 199, 206);
$grey-medium: #888888;
$grey-dark: #232323;